* {
  box-sizing: border-box;
}

body, html {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}

.input {
  background: #FAFAFA;
  border: solid 1px #CCC;
  border-radius: 2px;
  position: absolute;
  right: 20px;
  top: 20px;
  box-sizing: border-box;
  width: 300px;
  z-index: 1;
}

.input > .console {
  margin-left: 10px;
  margin-bottom: 20px;
  width: 80px;
}

.suggestions {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 100%;
}

.suggestions > button {
  margin-top: 10px;
}

#suggestionDiv, #pastSuggDiv {
  margin-top: 20px;
  width: 93%;
  max-height: 300px;
  overflow: scroll;
  display: none;
  margin-bottom: 15px;
  border-radius: 5px;
  border-style: solid;
  border-color: #bdbdbd;
  padding: 4px;
}

#pastSuggDiv {
  margin-top: 20px;
  width: 93%;
  max-height: 150px;
  overflow: scroll;
  display: none;
  margin-bottom: 15px;
  border-radius: 5px;
  border-style: solid;
  border-color: #bdbdbd;
  padding: 4px;
}

.experimentInfo {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 100%;
}

#suggestionList #pastSuggestionList > th, td {

  border-spacing: 0.5rem;
}

#tableSuggestion {
  width: 35%;
}

.tableHead  {
  text-align: left;
}

#suggestionList {
  font-size: 12px;
  width: 95%;
}

#suggTitle {
  display: none;
}

#pastSuggestionList {
  font-size: 12px;
  width: 95%;
}

#usefulBttn, #posFeedback {
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
}

#notUsefulBttn, #negFeedback {
  background-color: #eb3944;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
}

#negFeedback, #posFeedback {
  cursor: default !important;
}

.stdButton {
  border: none;
  color: white;
  background: #95c11f;
  display: inline-block;
  font-size: 10px;
  padding: 10px 20px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

#buttonDiv {
  display: flex;
  justify-content: space-around;
}

#downloadjson, #postCommit, #simplifiedJSON {
  width: 28% !important;
  margin: 20px 0px 30px 0px;
  background: #bdbdbd !important;
}

#numberOk {
  margin: 20px 0px 30px 0px;
  background: #bdbdbd !important;
  display: block;
}

.input > button {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.content,
.content > div {
  width: 100%;
  height: 100%;
}

.content > .message {
  text-align: center;
  display: table;

  font-size: 16px;
  color: #111;
}

.content > .message .note {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.content .error .details {
  max-width: 500px;
  font-size: 12px;
  margin: 20px auto;
  text-align: left;
}

.content .error pre {
  border: solid 1px #CCC;
  background: #EEE;
  padding: 10px;
}

.content:not(.with-error) .error,
.content.with-error .intro,
.content.with-diagram .intro {
  display: none;
}


.content .canvas,
.content.with-error .canvas {
  visibility: hidden;
}

.content.with-diagram .canvas {
  visibility: visible;
}

.buttons {
  position: fixed;
  bottom: 20px;
  left: 20px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.buttons > li {
  display: inline-block;
  margin-right: 10px;
}
.buttons > li > a {
  background: #DDD;
  border: solid 1px #666;
  display: inline-block;
  padding: 5px;
}

.buttons a {
  opacity: 0.3;
}

.buttons a.active {
  opacity: 1.0;
}

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: green !important; /* color elements as green */
}
